.building{
    font-size: 9px;
    border-radius: 3px;
    text-align:center;
    margin-bottom: 5px;
    padding: 0px 0px;
    border: 1px solid #558ED1;
    
}
.hover{
    cursor: pointer;
}


.building-selected{
    background-color: #558ED1;
    color: white;
}

.building-unselected{
    background-color: white;
    border: 1px solid #558ED1;
}