.search-table{
    margin: 30px;
    border: solid 1px black;
    border-radius: 10px;
}

.search-form{
    display: flex;
    flex-direction: row;
    /* width: 200%;
    height: 200%; */
    width: 1209px;
    height: 107px;
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 30px;
    
}
.building-section{
    position: relative;
    border-radius: 15px;
    width: 19.5%;
    height: 100%;
   
}
.building-section:hover{
    border: solid 1px black;
    cursor: pointer;
}

.building-header{
    
    position: absolute;

   
    left: 20px;
    top: 20px;

    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.building-subheader{
    position: absolute;
    width: 202px;
    height: 30px;
    left: 20px; 
    top: 50px;


    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.line-1{
    position: absolute;
    width: 71px;
    height: 0px;
    transform: rotate(90deg);
    top: 50px;
    left: 200px;
    border: 0.1px solid #000000;
 
}

.date-section{
    position: relative;
    border-radius: 15px;
    width: 17.9%;
    
    height: 100%;
    z-index: 10;
    
}

.date-section:hover{
    border: solid 1px black;
    cursor: pointer;
}

.date-header{
    position: absolute;
    
    top: 20px;
    left: 20px;
    

    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.date{
    position: absolute;
    width: 180px !important;
    height: 30px !important;
    top: 50px;
    left: 20px;
    
}

.line-2{
    position: absolute;
    width: 71px;
    height: 0px;
    top: 50px;
    left: 180px;
    border: 0.25px solid #000000;
    transform: rotate(90deg);
}

.starttime-section{
    position: relative;
    border-radius: 15px;
    width: 15%;
    
    height: 100%;
    z-index: 10;
}

.starttime-section:hover{
    border: solid 1px black;
    cursor: pointer;
}

.starttime-header{
    position: absolute;
    top: 20px;
    left: 20px;
  

    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;

}

.starttime{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 80% !important;
}

.line-3{
    position: absolute;
    width: 71px;
    height: 0px;
    top: 50px;
    left: 145px;
    
    border: 0.25px solid #000000;
    transform: rotate(90deg);
}

.endtime-section{
    position: relative;
    border-radius: 15px;
    width: 30%;
    
    height: 100%;
    z-index: 10;
}



.endtime-section:hover{
    border: solid 1px black;
    cursor: pointer;
}

.endtime{
    position: absolute;
    width: 40% !important;
    top: 50px;
    left: 20px; 
}

.endtime-header{
    
    position: absolute;
    width: 131px;
    height: 19px;
    top: 20px;
    left: 20px;

    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.btn-primary{
    background-color:#2D6CDF !important;
    position: relative;
    top: 30px;
    left: 50px;
    border-radius: 10px !important;
    width: 130px !important;
    height: 50px !important;
    font-size: 22px !important;
}

.btn-primary:hover{
    width: 135px !important;
    height: 51px !important;
    background-color: #5B92F5 !important;
}